<div class="face-snap-card" [ngClass]="{ snapped: buttonText === 'Oops, unSanp!' }">
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" >
  <p>Mise en ligne le : {{ faceSnap.createdDate | date: 'longDate' }}</p>
  <p *ngIf="faceSnap.location">Localisation : {{ faceSnap.location | lowercase }}</p>
  <p>{{ faceSnap.description | titlecase }}</p>
  <p>{{ 650000000 | currency: 'XAF' }}</p>
  <p>
    <button (click)="onSnap()">{{ buttonText }}</button>
    <span [ngStyle]="{ color: 'rgb(0,'+(faceSnap.snaps * 10)+',0)' }">⭐{{ faceSnap.snaps }}</span>
  </p>
</div>
